<div class="general-page">
    <h2>Quem Somos</h2>
    <p>
        Com as eleições de 2018 perto de chegar, identificamos a necessidade de conhecer melhor os atuais componentes do Congresso Nacional, em especial a Câmara de Deputados. Por causa disso, resolvemos criar o InPolitica como uma vitrine para o povo brasileiro, buscando entregar transparência, conscientização e a possibilidade de conhecerem mais sobre os que os representam perante o Estado.
    </p>
    <p>
        A equipe consiste por:
        <ul class="team">
            <li>Davy Mota</li>
            <li>Mayara Gomes</li>
            <li>Renan Rodrigues</li>
            <li>Vanessa Barreiros</li>
        </ul>
    </p>
    <blockquote>
        Buscamos trazer transparência para o cenário político atual, permitindo que a sociedade em geral possa ver os gastos orçamentários dos atuais deputados federais.
    </blockquote>
</div>