<div class="deputados-page general-page">
    <div class="filter-bar">
        <span>Filtros:</span>
        <a href="#">Partidos</a>
        <input type="text" name="search" placeholder="Buscar...">
    </div>
    
    <ul class="deputados-list">
        <li>
            <div class="picture" style=""></div>
            <span class="name">ASD</span>
            <span class="party">FDSFGDS</span>
        </li>
    </ul>
</div>